main {
    @media (max-width: 1200px) {
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1200px;
        gap: 20px;
        margin-left: 0;
    } 
}

section {
    @media (max-width: 1200px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: space-around;
        margin-left: 0;
        width: 500px;
    } 
    .img{
        @media (max-width: 750px){
            @include w-h(100%, auto);
            @include max-w-h(300px, 300px);
        }
    }
}


